<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>Lambda{{title}}</title>
    {% else %}
    <title>Lambda</title>
    {% endif %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
      <div class="navbar-header">
        <a class="nabvar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#">Lambda</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">My Reading</a></li>
          <li><a href="#">My Following</a></li>
          <li><a href="#">Lists</a></li>
        </ul>
      </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="span12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
