{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        // openid requires username
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user
    }
    form = document.forms['signup'];
    form.elements['openid'].value = openid
}
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <img src="/static/img/algorithms_Fotor.png" alt="algorithms" />
      </div>
      <div class="col-md-4">
        <h2>"This is the best algorithm book I've ever read!"</h2>
        <h2>"Every CS student should read this."</h2>
        <h2>"This is awesome! I learned a lot."</h2>
      </div>
      <div class="col-md-4">
        <div class="well">
          <form class="form-horizontal sign-in" action="post" name="signup">
            {{form.hidden_tag()}}
            <fieldset>
              <legend>Sign Up</legend>
              <div class="form-group">
                <div class="col-lg-12 sign-up">
                  <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12 sign-up">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-primary btn-lg sign-up">Join us!</button>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend>Join With</legend>
              <div class="form-group">
                {% for pr in providers %}
                <div class="col-lg-12">
                  <a href="javascript:set_openid('{{pr.url}}', '{{pr.name}}');"><img src="/static/img/{{pr.name.lower()}}.png" class="img-polaroid" /></a>
                </div>
                {% endfor %}
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <h1 align="center">Now, we have a place to talk about programming boooooks!</h1>
</div>
{% endblock %}
